<div class="animated fadeIn" *ngIf="Application.length!==0; else errordiv">
    <div class="card">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Short Description</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Underwriter ID</th>
                    <th>Underwriter Name</th>
                    <th>Verify Date</th>
                    <th> Underwriter Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let application of Application" (click)="showDetails(application)"
                    [class.lastselected]="isSelected(application)">
                    <td>{{application.applicationId}}</td>
                    <td>{{application.description}}</td>
                    <td>{{application.status}}</td>
                    <td>{{application.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{application.underwriterId}}</td>
                    <td>{{application.underwriterName}}</td>
                    <td>{{application.verifyDate | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <div class="alert alert-danger">{{application.underwritingStatus}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<ng-template #errordiv>
        <div id="err" class="alert-danger">{{error}}</div>
    </ng-template>