<div class="animated fadeIn" *ngIf="Customer.length!==0">
  <div class="card">
    <div class="card-body">
      <div>
        <table>
          <tr>
            <th>SSN</th>
            <td>{{Customer.ssn}}</td>
          </tr>
          <tr>
            <th>Full name</th>
            <td>{{Customer.name}}</td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td>{{Customer.gender}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{Customer.address}}</td>
          </tr>
          <tr>
            <th>Designation</th>
            <td>{{Customer.designation}}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{Customer.dob | date: 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th>Marital Status</th>
            <td>{{Customer.maritalStatus}}</td>
          </tr>
          <tr>
            <th>Health Status</th>
            <td>{{Customer.healthStatus}}</td>
          </tr>
          <tr>
            <th>Health Reason</th>
            <td>{{Customer.healthReason}}</td>
          </tr>
          <tr>
            <th>document1</th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
