<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div>
        <table>
          <tr>
            <th>SSN</th>
            <td>{{Customer.ssn}}</td>
          </tr>
          <tr>
            <th>Full name</th>
            <td>{{Customer.name}}</td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td>{{Customer.gender}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{Customer.address}}</td>
          </tr>
          <tr>
            <th>Designation</th>
            <td>{{Customer.designation}}</td>
          </tr>
          <tr>
            <th>Marital Status</th>
            <td>{{Customer.marital_status}}</td>
          </tr>
          <tr>
            <th>Health Status</th>
            <td>{{Customer.health_status}}</td>
          </tr>
          <tr>
            <th>Health Reason</th>
            <td></td>
          </tr>
          <tr>
            <th>document1</th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
