

.score {
 background-color:'#20a8d8';
  color:beige;
  font-size: 20px;
}

.home {
  font-weight: bolder;
}

.dot {
height: 25px;
  width: 25px;
  background-color:'#20a8d8';
  color:beige;
  font-size: 20px;
  border-radius: 50%;
  display: inline-block;
}

.numberCircle {
  min-width: 80%;
  max-width: 100%;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    border: 1px solid #46b800;
    background-color:#46b800;
    color:beige;
}