<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
<ul>
        <li routerLinkActive="home" routerLinkActiveOptions="{exact: true}">
            <a [routerLink]="['customer_info']">Customer Information</a>
         </li>
<li routerLinkActive="home" routerLinkActiveOptions="{exact: true}">
    <a [routerLink]="['uw_details']">Underwriting Details</a></li>

    <li  (click)="goApplication()">
    <a>Application List</a></li>
</ul>
<div class="card-header-actions">
        <span class="badge">Application ID: {{application_id}}</span>
        <span class="badge"> Year: {{selected_year}}</span>
      </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
