<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-10">
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a routerLinkActive="home" routerLinkActiveOptions="{exact: true}" [routerLink]="['health_Status']" class="nav-link">Health Score</a>
        </li>
    <li class="nav-item">
      <a routerLinkActive="home" routerLinkActiveOptions="{exact: true}" [routerLink]="['customer_info']" class="nav-link">Customer Information</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="home" routerLinkActiveOptions="{exact: true}" [routerLink]="['uw_details']" class="nav-link">Underwriting Details</a>
    </li>
  </ul>
  </div>
  <div class="col-md-1">
      <div class="numberCircle">{{Underwriter.underwritingScore}}</div>
  </div>
  <div class="col-md-1">
  <div class="card-header-actions"><button (click)="goApplication()" class="btn btn-block btn-primary">Back</button></div>
  </div>
  </div>
  </div>
  <router-outlet></router-outlet>
    
    
  
