<div class="animated fadeIn" *ngIf="Underwriter.length !== 0">
    <div class="card">
        <div class="card-body">
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <td>{{Underwriter.underwritingId}}</td>
                    </tr>
                    <tr>
                        <th>Underwriter Name:</th>
                        <td>{{Underwriter.underwriterNames}}</td>
                    </tr>
                    <tr>
                        <th>Underwriting Status</th>
                        <td>{{Underwriter.underwritingStatus}}</td>
                    </tr>
                    <tr>
                        <th>Short Description</th>
                        <td>{{Underwriter.description}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{Underwriter.date | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>Ruleset Version</th>
                        <td>{{Underwriter.rulesetVersion}}</td>
                    </tr>
                    <tr>
                        <th>Underwriting Score</th>
                        <td>{{Underwriter.underwritingScore}}</td>
                    </tr>
                    <tr>
                        <th>Valid documents</th>
                        <td>Health Document</td>
                    </tr>
                    <tr>
                        <th>Business Details:</th>
                        <td>{{Underwriter.businessDetails}}</td>
                    </tr>
                    <tr>
                        <th>Business Type:</th>
                        <td>{{Underwriter.businessType}}</td>
                    </tr>
                    <tr>
                        <th>Business Category:</th>
                        <td>{{Underwriter.businessCategory}}</td>
                    </tr>
                    <tr>
                        <th>Business Name:</th>
                        <td>{{Underwriter.businessName}}</td>
                    </tr>
                    <tr>
                        <th>Business Acc#</th>
                        <td>{{Underwriter.businessAcc}}</td>
                    </tr>
                    <tr>
                        <th>Tax ID#</th>
                        <td>{{Underwriter.taxId}}</td>
                    </tr>
                    <tr>
                        <th>Business Address</th>
                        <td>{{Underwriter.businessAddress}}</td>
                    </tr>
                    <tr>
                        <th>Underwriter Channel:</th>
                        <td>{{Underwriter.underwriterChannel}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
      
