<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">500</div>
          <div>Underwriting Submitted</div>
        </div>
         <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!--<button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
             <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
          <div class="text-value">257</div>
          <div>Underwriting Completed</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
         <!-- <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>-->
           <div class="text-value">243</div>
          <div>Underwriting not Submitted</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <!-- <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>
      </div> -->
    </div>
  </div>



  <!-- <div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Markdown
            </div>
            <div class="card-body">
                <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/ea66b3d0-7b54-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
                frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
  </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          Control
          </div>
          <div class="card-body">
              <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/bba96200-7b58-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
              frameborder="0" scrolling="no" style="width: 100%; height: 400px">
              </iframe>
            </div>
            </div>
            </div>
  </div>
 -->

  <div class="row">
      <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
             <strong> Underwriting Status</strong>
              </div>
              <div class="card-body">
                  <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/63478bd0-8c35-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
                  frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
           <strong> Health Status</strong>
            </div>
            <div class="card-body">
                <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/8be06b30-8c34-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
                   frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
              </div>
              </div>
              </div>
    </div>



  <div class="row">
      <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Health Status Against Underwriting</strong>
              </div>
              <div class="card-body">
                  <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/4a23bc40-8c36-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
                    frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Health Status Count</strong>
            </div>
            <div class="card-body">
                <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/8623fcc0-8d10-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow)" 
                      frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
              </div>
              </div>
              </div>
    </div>




  <!--/.row-->
  <div class="row">
      <div class="col-md-12 col-sm-12">
  <div class="card">
      <div class="card-header">
       <strong> Customer Monthly Income</strong>
        </div>
        <div class="card-body">
            <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/05c5d260-8c34-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
  frameborder="0" scrolling="no" style="width: 1000px;height: 400px"></iframe>
</div>
</div>
</div>
</div>



<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
           <strong> Average Monthly Income</strong>
            </div>
            <div class="card-body">
                <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/b86021b0-8c33-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
  frameborder="0" scrolling="no" style="width: 100%; height: 400px">
  </iframe>
  </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Customer Designation</strong>
          </div>
          <div class="card-body">
              <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/15cf1670-8c35-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
              frameborder="0" scrolling="no" style="width: 100%; height: 400px">
              </iframe>
            </div>
            </div>
            </div>
  </div>



<div class="row">
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
         <strong> Gender Graph</strong>
          </div>
          <div class="card-body">
              <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/20cee640-8c3f-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
   frameborder="0" scrolling="no" style="width: 100%; height: 400px">
              </iframe>
</div>
</div>
</div>
<div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
      <strong>  Maritual Status</strong>
        </div>
        <div class="card-body">
            <iframe src="https://51936d64f0d14a3fb84feb0ce8674c3f.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/4c5db8a0-8c34-11ea-aa86-45ab1b28d144?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
            frameborder="0" scrolling="no" style="width: 100%; height: 400px">
            </iframe>
          </div>
          </div>
          </div>
</div>
</div>

