<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">500</div>
          <div>Underwriting Submitted</div>
        </div>
         <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!--<button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
             <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
          <div class="text-value">257</div>
          <div>Underwriting Completed</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
         <!-- <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>-->
           <div class="text-value">243</div>
          <div>Underwriting not Submitted</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas> -->
        </div> 
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <!-- <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>
      </div> -->
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Markdown
            </div>
            <div class="card-body">
                <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/ea66b3d0-7b54-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
                frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
  </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          Control
          </div>
          <div class="card-body">
              <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/bba96200-7b58-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
              frameborder="0" scrolling="no" style="width: 100%; height: 400px">
              </iframe>
            </div>
            </div>
            </div>
  </div>


  <div class="row">
      <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              Underwriting Status
              </div>
              <div class="card-body">
                  <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/27bf3230-7b3b-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
                  frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Health Status
            </div>
            <div class="card-body">
                <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/6f66a290-7b0d-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
                   frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
              </div>
              </div>
              </div>
    </div>



  <div class="row">
      <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              Health Status Against Underwriting
              </div>
              <div class="card-body">
                <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/412d80d0-7b51-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
                        frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Smoker
            </div>
            <div class="card-body">
              <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/58e1b300-795c-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
                      frameborder="0" scrolling="no" style="width: 100%; height: 400px"></iframe>
              </div>
              </div>
              </div>
    </div>




  <!--/.row-->
  <div class="row">
      <div class="col-md-12 col-sm-12">
  <div class="card">
      <div class="card-header">
        Customer Monthly Income
        </div>
        <div class="card-body">
  <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/6507ce10-7b4d-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
  frameborder="0" scrolling="no" style="width: 1000px;height: 400px"></iframe>
</div>
</div>
</div>
</div>



<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Average Monthly Income
            </div>
            <div class="card-body">
  <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/07df5600-7b3d-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
  frameborder="0" scrolling="no" style="width: 100%; height: 400px">
  </iframe>
  </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          Customer Designation
          </div>
          <div class="card-body">
            <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/70a74480-7cb0-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
              frameborder="0" scrolling="no" style="width: 100%; height: 400px">
              </iframe>
            </div>
            </div>
            </div>
  </div>



<div class="row">
  <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          Gender Graph
          </div>
          <div class="card-body">
<iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/e668da40-7afc-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" 
frameborder="0" scrolling="no" style="width: 100%; height: 400px">
</iframe>
</div>
</div>
</div>
<div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        Maritual Status
        </div>
        <div class="card-body">
          <iframe src="https://f3e2c649908c4fd484ae587aaccc75ce.asia-south1.gcp.elastic-cloud.com:9243/app/kibana#/visualize/edit/b124aac0-7cb0-11ea-ba27-8309e6d053af?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"
            frameborder="0" scrolling="no" style="width: 100%; height: 400px">
            </iframe>
          </div>
          </div>
          </div>
</div>
</div>

